@import 'styles/header.scss';
@import 'styles/players_cards.scss';
@import 'styles/teams_setup_page.scss';
@import 'styles/randomised_teams.scss';


/* React defaults */

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: green;
}



