/* React defaults */

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: green;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* Header */
.page_header {
  display: flex;
  justify-content: center;
}

.football_header_icon {
  height: 100px;
  width: 100px;
  margin: 10px 40px;
}

/* Player Cards */

.player_card {
  display: flex;
  justify-content: space-between;
}

.delete_icon {
  height: 20px;
  width: 20px;
  margin: 10px;
}
